footer {
  border-top: 0.5vw solid var(--text-color);
  background-color: var(--background-color);
  min-width: 99;
}

.copyright p {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--text-color);
  color: var(--background-color);
  font-size: var(--font-footer);
  padding: 1vw;
  font-weight: bold;
  bottom: 0;
}

.content-footer {
  display: flex;
  justify-content: center;
}
.container-footer {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 2vw;
  gap: 10vw;
}

.container-footer > div {
  color: var(--text-color);
}

.container-footer > div h3 {
  color: var(--text-color);
  margin-bottom: 1vh;
  font-size: var(--font-size);
}

.container-footer > div ul {
  gap: 0.5vw;
}

.container-footer > div ul li a {
  text-decoration: none;
  list-style-type: none;
  color: var(--text-color);
  font-size: var(--font-footer);
  cursor: pointer;
}

.sitemap {
  cursor: pointer;
}

.desksingkatmyplanet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1vw;
  color: var(--text-color);
  width: 40vw;
}

.desksingkatmyplanet img {
  width: 8vh;
  height: auto;
}
