@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/*====================================================================== Nav =====================================================================*/
nav {
  background: linear-gradient(to right, #004b85, #3a005b, #560032);
  width: 100%;
  padding: 1vh;
}


nav .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

select {
  padding: 5px;
  margin-right: 10px;
  background-color: #000000;
  color: #fff;
  margin-left: 10px;
  border: none;
  border-color: #000000;
}

button {
  padding: 5px 10px;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
}

.left_nav {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo img {
    margin-right: 10px; 
    width: 50px;
}

.logo span {
    margin-left: -15px;
    font-size: 15px;
    color: #ffffff;
}


.home a,
.cek-transaction a,
.compare-price a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 0px;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container button {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container button .material-icons {
  font-size: 24px;
  color: #fff;
}

.search-container button:hover {
  background-color: transparent;
}

.text {
  margin-left: 5px;
}


.header-content-1{
    gap: -2vh;
}

.header-content-2,
.right-content,
.left-content,
.language-selector {
  display: inline-flex;
  gap: 2vh;
}

.cek-transaction,
.compare-price,
.home {
  display: flex;
  gap: 10px;
  margin-left: 30px;
}

.language-selector select {
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  color: #ffffff;
  appearance: none;
  cursor: pointer;
}
.language-selector select:hover {
  border-color: #ffffff;
}

.language-selector select:focus {
  border-color: #ffffff;
}
.language-selector select option {
  background-color: #811070;
  color: #000000;
}
.language-selector select option:hover {
  background-color: #811070;
}

.header-content-1 {
    gap: 100px;
}

.header-content-2 {
  justify-content: flex-end;
  align-items: center;
}

.right-content {
  margin-left: 0px;
}

.left-content {
  margin-right: 0px;
}

.compare-price .material-symbols-outlined,
.cek-transaction i.material-icons,
.home i.material-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.left-content a {
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.home:hover,
.compare-price:hover,
.cek-transaction:hover {
  border-bottom: 5px solid #fff;
  border-radius: 5px;
}

.auth-links {
  display: flex;
  align-items: center;
}
.loginButton {
  margin-left: -15px;
  margin-right: 0px;
}
.registerButton,
#profileButtonContainer {
  margin-left: 0px;
}

.loginButton a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

.registerButton a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-left: -10px;
}

.profileButton {
  background-color: transparent;
  color: #ffffff;
  padding: 5px 10px;

  border: 3px groove #ffffff;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 0px 0px 10px 10px;
}

.dropdown-content {
  display: none;
  margin-left: 20px;
  position: absolute;
  background-color: #560032;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 0px 0px 10px 10px;
}

.dropdown-content a:hover {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 0px 0px 10px 10px;
  color: #000000;
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hero {
    background-image: url('./assets/Bakground_home.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons .btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 16px;
}

.buttons .btn.primary {
    background-color: #ff007b;
    color: white;
}

.buttons .btn.secondary {
    background-color: #e0c1e7;
    color: #5a026a;
}

